input,
textarea,
select {
  border-image-source: linear-gradient(45deg, #00CCFF, #4BE8FF);
  border-width: 2pt;
  border-image-slice: 1;
  width: 100%;
  padding: 8px;
  box-shadow: none;
}

.gradient-text,
a {
  display: inline;
  background: linear-gradient(45deg, #00CCFF, #4BE8FF);
  color: #4BE8FF;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site-title a {
  background: white;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

select option {
  padding: 1px;
}

button {
  background: linear-gradient(#00CCFF, #4BE8FF);
  border: none;
  border-radius: 5px;
  padding: 13px 25px;
  color: white;
}

form button {
  width: 100%;
  text-align: center;
}

.form-field {
  margin: 10px 0;
}

.form-field label {
  display: block;
  padding-bottom: 3px;
}

.site-title {
  margin: 0;
}
