body {
  font-size: 1.1rem;
}

input,
textarea,
select {
  outline-color: #4BE8FF;
  border-image-source: linear-gradient(45deg, #00CCFF, #4BE8FF);
  border-width: 2pt;
  border-image-slice: 1;
  width: 100%;
  padding: 8px;
  box-shadow: none;
}

.gradient-text,
a {
  display: inline-block;
  background: linear-gradient(45deg, #00CCFF, #4BE8FF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.label {
  -webkit-text-fill-color: white;
}

.site-title a {
  background: white;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

select option {
  padding: 1px;
}

button {
  background: linear-gradient(45deg, #00CCFF, #4BE8FF);
  border: none;
  border-radius: 5px;
  padding: 13px 25px;
  color: white;
}

form button {
  width: 100%;
  text-align: center;
}

.form-field {
  margin: 10px 0;
}

.form-field label {
  display: block;
  padding-bottom: 3px;
}

.site-title {
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
}

li.list-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

li *:nth-child(1n) {
  flex-basis: 58px;
}

li *:nth-child(2n) {
  flex-basis: 80%;
}

li.list-item ul {
  flex-basis: 100%;
}
